
<div class="container" style="margin-top: calc(var(--height-header) + 2px );">
    <!-- Đường dẫn đến trang hiện tại -->
    <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Chợ tốt</a></li>
        <li class="breadcrumb-item active" aria-current="page">Trang cá nhân</li>
    </ol>
    </nav>
    <div class="user_main d-flex justify-content-center ">
        <section class="user_left w-50 ">
            <section class="h-100 gradient-custom-2">
                <div class="h-100">
                  <div class="row d-flex  h-100">
                    <div class="col">
                      <div class="card" style="position: relative;">
                        <!-- Ảnh bìa -->
                          <div class="user_cover_photo" style="height: 170px;">  <!-- Chiều cao của ảnh bìa-->
                            <img class="" src="/imgs/bg-01.jpg" alt="">
                            <div class="user_upload"> 
                                  <label for="uploadCover" class="user_photo_upload cover_photo_icon"><i class="fa-solid fa-camera"></i></label>
                                  <input type="file" name="" id="uploadCover" style="display: none;">
                            </div>
                          </div>
                        {{#each data.user ~}}
                        <div class="rounded-top text-white d-flex flex-row" style="height:170px;position: relative;"> <!-- Chiều cao phải bằng chiều cao của ảnh bìa-->
                          <!-- Ảnh đại diện -->
                            <div class="user_avatar ms-4 mt-5 d-flex flex-column" style="min-width: 150px; margin-left: 2px;">
                            <div class="avatar_img">
                                <img src="{{avatar}}"
                                alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
                                style="width: 150px; z-index: 1">
                                <div class="user_upload">
                                    <label for="uploadAvatar" class="user_photo_upload avatar_icon"><i class="fa-solid fa-camera"></i></label>
                                    <input type="file" name="" id="uploadAvatar" style="display: none;">
                                </div>
                            </div>
                          </div>
                          <!--  -->
                          <div class="ms-3" style="margin-top: 130px;margin-left: 10px;position: absolute; bottom: 10px;left: 150px;">
                            <h5 class="user_name font-weight-bold shadow" style="font-size: 20px;">{{user_name}}</h5>
                            <!-- <p>New York</p> -->
                          </div>
                        </div>
                        <div class="text-black d-flex align-items-center justify-content-between" style="background-color: #f8f9fa; padding: 0 8px 36px 2px;">
                          <button class="user_edit btn btn-dark" data-mdb-ripple-color="dark" style="z-index: 1;" 
                          data-toggle="modal" data-target="#addModal" aria-hidden="true">
                            Chỉnh sửa thông tin
                          </button>
                      
                        </div>
                        <div class="card-body p-4 text-black">
                          <div class="mb-5">
                            <!-- <p class="lead fw-normal mb-1">About</p> -->
                            <div class="" >
                              <p class=" mb-1 m-y-8"><span class="" style="color: #969393;"><i class="fa-solid fa-comments"></i> Phản hồi chat:</span> <span>Chưa có thông tin</span></p>
                              <p class=" mb-1 m-y-8"><span class="" style="color: #969393;"><i class="fa-regular fa-calendar-days"></i> Đã tham gia:</span> <span class="formatTime">{{create_at}}</span></p>
                              <p class=" mb-1 m-y-8"><span class="" style="color: #969393;"><i class="fa-solid fa-check"></i> Đã xác minh </span> 
                                <span>
                                    <!-- icon facebook -->
                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" style="width: 16px; height: 16px; color: rgb(48, 107, 217);"><path d="M10.0014 1.66797C5.39978 1.66797 1.66895 5.32786 1.66895 9.84202C1.66895 13.9213 4.71561 17.3024 8.69978 17.918V12.2054H6.58311V9.84202H8.69978V8.0411C8.69978 5.99084 9.94394 4.86025 11.8464 4.86025C12.7581 4.86025 13.7131 5.01966 13.7131 5.01966V7.02986H12.6598C11.6264 7.02986 11.3031 7.66096 11.3031 8.3076V9.84038H13.6123L13.2431 12.2037H11.3031V17.9163C15.2873 17.304 18.3339 13.9221 18.3339 9.84202C18.3339 5.32786 14.6031 1.66797 10.0014 1.66797Z" fill="currentColor"></path></svg>
                                    <!-- icon zalo -->
                                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" style="color:#C0C0C0"><path d="M3.50976 12.6482C3.45476 12.6238 3.41503 12.5963 3.4792 12.5413C3.51893 12.5107 3.56171 12.4832 3.6045 12.4557C4.00482 12.196 4.3807 11.9118 4.62823 11.4931C4.83603 11.1447 4.80242 10.94 4.54266 10.6833C3.09416 9.23479 2.45853 7.50209 2.77634 5.45463C2.95664 4.29949 3.48532 3.30021 4.25541 2.43233C4.71991 1.90671 5.27303 1.48194 5.8781 1.12745C5.91477 1.10606 5.96672 1.09995 5.97283 1.04494C5.96061 1.01438 5.93922 1.02355 5.92088 1.02355C4.89104 1.02355 3.86119 1.00216 2.83441 1.02966C1.8504 1.06022 1.00086 1.82114 1.00391 2.91211C1.01003 6.09942 1.00391 9.28674 1.00391 12.4771C1.00391 13.4672 1.75873 14.2954 2.74579 14.3321C3.58005 14.3657 4.41431 14.3382 5.25164 14.3351C5.31275 14.3382 5.37387 14.3412 5.43499 14.3412H9.84773C10.9479 14.3412 12.048 14.3473 13.1481 14.3412C14.1688 14.3412 14.9969 13.5161 14.9969 12.4985V12.4802V10.6925C14.9969 10.6497 15.0122 10.6038 14.9847 10.558C14.9297 10.5611 14.9083 10.6069 14.8778 10.6375C14.2849 11.2334 13.5851 11.7131 12.8181 12.0523C10.9387 12.8805 9.02569 12.9386 7.08518 12.2724C6.91711 12.2113 6.73375 12.2051 6.55957 12.2479C6.30287 12.3121 6.04923 12.3885 5.79559 12.4649C5.04994 12.6971 4.28902 12.801 3.50976 12.6482ZM5.7253 7.49903C5.77725 7.4318 5.80476 7.39208 5.83531 7.35235C6.23564 6.84507 6.63596 6.33779 7.03629 5.82745C7.15241 5.68076 7.26854 5.53102 7.34188 5.35378C7.42745 5.15209 7.33577 4.96262 7.12797 4.88928C7.03629 4.86178 6.9385 4.84956 6.84071 4.85567C6.29676 4.85261 5.74975 4.85261 5.2058 4.85567C5.1294 4.85567 5.053 4.86484 4.97966 4.88317C4.80853 4.92595 4.70463 5.10014 4.74741 5.27433C4.77797 5.39045 4.86965 5.48213 4.98577 5.50963C5.05911 5.52797 5.13551 5.53714 5.21191 5.53408C5.54195 5.53714 5.87504 5.53408 6.20508 5.53714C6.24175 5.53714 6.28759 5.51269 6.31509 5.5677C6.28759 5.60437 6.26009 5.64104 6.23258 5.67465C5.75892 6.27361 5.28831 6.87563 4.81464 7.47459C4.69851 7.62433 4.6374 7.78934 4.72296 7.9727C4.80853 8.15605 4.98271 8.18967 5.15996 8.20189C5.30053 8.21106 5.44416 8.20495 5.58779 8.20495C6.08284 8.20495 6.57485 8.20801 7.0699 8.20189C7.33271 8.19884 7.47328 8.03993 7.44578 7.79546C7.42439 7.60293 7.29299 7.50209 7.04851 7.49903C6.61763 7.49598 6.18675 7.49903 5.7253 7.49903ZM9.27016 5.89162C8.88817 5.55853 8.46646 5.53714 8.05391 5.78161C7.55274 6.07498 7.36938 6.55476 7.4305 7.11093C7.48856 7.63044 7.7147 8.05521 8.25866 8.2294C8.59786 8.33941 8.91262 8.29968 9.19071 8.07355C9.26405 8.01548 9.28544 8.02771 9.33739 8.09188C9.43824 8.22023 9.61242 8.26912 9.76522 8.21106C9.91802 8.16522 10.0189 8.02465 10.0189 7.86574C10.0219 7.25456 10.025 6.64338 10.0189 6.03219C10.0158 5.78772 9.78661 5.63187 9.54825 5.68076C9.41685 5.70827 9.3435 5.79689 9.27016 5.89162ZM11.3879 7.02537C11.3757 7.78935 12.0083 8.36691 12.8028 8.28746C13.5332 8.21412 14.0068 7.66711 13.9824 6.89396C13.9579 6.12998 13.3895 5.60742 12.6103 5.63187C11.8799 5.65326 11.3635 6.24 11.3879 7.02537ZM11.119 6.41724C11.119 5.93746 11.122 5.46074 11.119 4.98096C11.119 4.73649 10.9631 4.58369 10.7309 4.58675C10.5048 4.5898 10.355 4.7426 10.352 4.9779C10.3489 5.12153 10.352 5.2621 10.352 5.40573V7.83518C10.352 8.02465 10.4681 8.18967 10.6209 8.2294C10.8317 8.28746 11.0487 8.16217 11.1037 7.95131C11.1129 7.91464 11.119 7.87797 11.1159 7.83824C11.122 7.36457 11.119 6.89091 11.119 6.41724Z" fill="#FDFEFE"></path><path d="M5.24772 14.3382C4.38217 14.3382 3.57614 14.3657 2.74187 14.3351C1.75481 14.2954 1 13.4672 1 12.4802C1 9.29285 1.00611 6.10553 1 2.91515C1 1.82419 1.8526 1.06327 2.83355 1.03577C3.86034 1.00826 4.89018 1.02965 5.92002 1.02965C5.93836 1.02965 5.96281 1.02049 5.97197 1.05105C5.96586 1.10605 5.91085 1.11216 5.87724 1.13356C5.27217 1.48804 4.71905 1.91281 4.25455 2.43843C3.48751 3.30631 2.95579 4.30254 2.77549 5.46073C2.45767 7.50514 3.09636 9.2409 4.5418 10.6894C4.7985 10.9492 4.83212 11.1508 4.62737 11.4992C4.37984 11.9179 4.00396 12.2021 3.60364 12.4618C3.56086 12.4863 3.51807 12.5168 3.47529 12.5443C3.41112 12.5993 3.45084 12.6269 3.50585 12.6513C3.51807 12.6788 3.53335 12.7032 3.55169 12.7277C3.90312 13.0394 4.23621 13.3725 4.58153 13.6903C4.74349 13.84 4.90546 13.9959 5.06131 14.1518C5.12548 14.2098 5.23244 14.2282 5.24772 14.3382Z" fill="currentColor"></path><path d="M5.24765 14.338C5.08337 14.1408 5.12542 14.2127 5.06124 14.1486C4.90539 13.9896 4.74343 13.8368 4.58146 13.6871C4.23615 13.3693 3.90853 13.0476 3.5571 12.7359C3.53876 12.7115 3.45949 12.6398 3.44727 12.6123C4.22652 12.7651 5.04596 12.697 5.79466 12.4678C6.0483 12.3914 6.30194 12.315 6.55864 12.2508C6.73283 12.205 6.91618 12.2142 7.08426 12.2753C9.02171 12.9415 10.9347 12.8803 12.8172 12.0553C13.5842 11.716 14.284 11.2393 14.8768 10.6434C14.9074 10.6129 14.9288 10.567 14.9838 10.564C15.0113 10.6067 14.996 10.6526 14.996 10.6984V12.4861C15.0021 13.5068 14.1831 14.338 13.1625 14.3472H13.1472C12.0471 14.3533 10.9469 14.3472 9.8468 14.3472L5.50721 14.338C5.37505 14.338 5.30877 14.338 5.24765 14.338Z" fill="currentColor"></path><path d="M5.72492 7.49917C6.18637 7.49917 6.62031 7.49611 7.05119 7.49917C7.29261 7.50222 7.42401 7.60307 7.44846 7.79559C7.47596 8.03701 7.33539 8.19897 7.07258 8.20203C6.57752 8.20814 6.08552 8.20509 5.59046 8.20509C5.44684 8.20509 5.30626 8.2112 5.16264 8.20203C4.98539 8.19286 4.81121 8.15619 4.72564 7.97284C4.64007 7.78948 4.70119 7.62446 4.81732 7.47472C5.28793 6.87576 5.7616 6.27375 6.23526 5.67479C6.26277 5.63812 6.29027 5.60145 6.31777 5.56783C6.28721 5.51588 6.24443 5.54033 6.20776 5.53727C5.87772 5.53422 5.54462 5.53727 5.21459 5.53422C5.13819 5.53422 5.06179 5.52505 4.98845 5.50977C4.81426 5.47004 4.7073 5.29585 4.74703 5.12472C4.77453 5.0086 4.86621 4.91387 4.98234 4.88636C5.05568 4.86803 5.13208 4.85886 5.20847 4.85886C5.75243 4.8558 6.29944 4.8558 6.84339 4.85886C6.94118 4.8558 7.03591 4.86803 7.13065 4.89247C7.33845 4.96276 7.42707 5.15528 7.34456 5.35697C7.27122 5.53116 7.15509 5.6809 7.03897 5.83064C6.63864 6.34098 6.23832 6.84826 5.83799 7.35249C5.80438 7.39221 5.77382 7.43194 5.72492 7.49917Z" fill="currentColor"></path><path d="M9.26897 5.89171C9.34232 5.79698 9.41871 5.70835 9.54401 5.68391C9.78542 5.63501 10.0116 5.79086 10.0146 6.03534C10.0238 6.64652 10.0207 7.2577 10.0146 7.86889C10.0146 8.02779 9.91072 8.16836 9.76098 8.2142C9.60818 8.27227 9.43399 8.22643 9.33315 8.09502C9.2812 8.03085 9.25981 8.01862 9.18646 8.07669C8.90838 8.30282 8.59362 8.34255 8.25441 8.23254C7.71046 8.0553 7.48738 7.63052 7.42626 7.11407C7.36208 6.55484 7.54849 6.07812 8.04966 5.78475C8.46527 5.53722 8.88698 5.55861 9.26897 5.89171ZM8.18718 7.00712C8.19329 7.14158 8.23607 7.26993 8.31553 7.37688C8.48055 7.59691 8.79531 7.64275 9.01839 7.47773C9.05506 7.45022 9.08868 7.41661 9.11923 7.37688C9.29037 7.14463 9.29037 6.76264 9.11923 6.53039C9.03367 6.41121 8.89921 6.34093 8.75558 6.33787C8.41943 6.31648 8.18412 6.57623 8.18718 7.00712ZM11.3867 7.02545C11.3623 6.24008 11.8787 5.65335 12.6121 5.63196C13.3914 5.60751 13.9598 6.13007 13.9842 6.89405C14.0087 7.66719 13.535 8.2142 12.8047 8.28755C12.0071 8.367 11.3745 7.78943 11.3867 7.02545ZM12.1538 6.95211C12.1476 7.10491 12.1935 7.25465 12.2852 7.37994C12.4532 7.59996 12.768 7.64275 12.988 7.47162C13.0216 7.44717 13.0491 7.41661 13.0766 7.38605C13.2539 7.1538 13.2539 6.76264 13.0797 6.53039C12.9941 6.41427 12.8597 6.34093 12.716 6.33787C12.386 6.31954 12.1538 6.57012 12.1538 6.95211ZM11.1178 6.41733C11.1178 6.89099 11.1209 7.36466 11.1178 7.83833C11.1209 8.0553 10.9497 8.23559 10.7328 8.24171C10.6961 8.24171 10.6564 8.23865 10.6197 8.22948C10.4669 8.18976 10.3508 8.02779 10.3508 7.83527V5.40582C10.3508 5.26219 10.3477 5.12162 10.3508 4.97799C10.3538 4.74268 10.5036 4.58989 10.7297 4.58989C10.962 4.58683 11.1178 4.73963 11.1178 4.9841C11.1209 5.46082 11.1178 5.9406 11.1178 6.41733Z" fill="currentColor"></path></svg>
                                    <!-- icon gmail -->
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" style="width:16px;height:16px;color:#C0C0C0"><path fill-rule="evenodd" d="M4.125 3.8A2.575 2.575 0 001.55 6.377v11.25A2.575 2.575 0 004.125 20.2h15.75a2.575 2.575 0 002.575-2.575V6.376A2.575 2.575 0 0019.875 3.8H4.125zM5.68 6.949a.7.7 0 10-.86 1.105l6.75 5.25a.7.7 0 00.86 0l6.75-5.25a.7.7 0 00-.86-1.105L12 11.864 5.68 6.948z" clip-rule="evenodd"></path></svg>
                                </span>
                            
                                </p>
                              <p class=" mb-0 m-y-8"><span class="" style="color: #969393;"><i class="fa-solid fa-location-dot"></i> Địa chỉ:</span> <span>{{address}}</span></p>
                              <a href="/admin/{{user_id}}" class="btn btn-warning mt-3">Quản lý sản phẩm</a>
                            </div>
                          </div>
                        {{~/each}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
        </section>
        <!-- Phần hiển thị + bán -->
        <section class="user_right w-75 p-x-16 bg-white h-100" style="margin-left: 8px;">
            <div class="user_news_head d-flex justify-content-between align-items-center">
                <div class="user_section_head user_show outline-none border-none  p-3 w-50 text-center ">
                    <p class="turn_on">Đang hiển thị ({{data.product.length}})</p>
                </div>
                <div class="user_section_head user_sale outline-none border-none  p-3 w-50 text-center">
                    <p>Đã bán (0)</p>
                </div>
            </div>
            <div class="user_news_main show_content d-none">
                
            </div>

            <div class="user_news_main sale_content  ">
                {{!-- <a class="user_news_content btn border-none outline-none  user_extention push_news font-weight-bold" href="#">Không có sản phẩm nào</a> --}}
                {{#each data.product ~}}
                <a class="d-block item item_news_up w-25 bg-light" style="height: 280px; padding: 4px; margin: 4px 0;"
                href="/userId={{user_id}}/productId={{product_id}}" title="{{product_name}}">
                  <div class="item_img ">
                    <img class="w-100" src="{{image_link}}" style="margin-top: 10px;">
                  </div>
                  <div class="item_section_content ">
                    <div class="item_content_header m-yb-16  d-flex justify-content-between">
                      <div class="item_name " title="">{{product_name}}</div>
                    </div>
                    <div class="item_content_main m-y-16">
                      <p class="item_cost m-y-8 font-weight-bold price">{{price}}</p>
                      <p class="item_timedate small m-y-8  ">
                        <span class="middle"><i class="fa-solid fa-bag-shopping"></i></span> 
                        <span class="formatTime">{{create_at}}</span>
                        <span class="small"><i class="fa-solid fa-circle"></i></span>
                      </p>
                    </div>
                  </div>
                </a>
                {{~/each}}
            </div>
        </section>
    </div>

    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">Thay đổi thông tin người dùng</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="/user/update" method="post">
                    {{#each data.user ~}}
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="nameproduct">Tên người dùng</label>
                            <input type="text" class="form-control" name="user_name" id="nameproduct"
                            value="{{user_name}}">
                        </div>

                        <div class="form-group">
                            <label for="priceproduct">Số điện thoại</label>
                            <div class="input-group">
                                <input type="number" class="form-control" name="phone_number" id="priceproduct"
                                value="{{phone_number}}">
                            </div>
                            <input type="hidden" name="user_id" value="{{user_id}}">
                        </div>

                        <div class="form-group">
                            <label for="comment">Địa chỉ:</label>
                            <textarea class="form-control" rows="5" name="address" id="comment">{{address}}</textarea>
                        </div>
                    </div>
                    <div class="modal-footer form-group">
                        <button type="submit" class="btn btn-primary">Cập nhật</button>
                        <input type="reset" class="btn btn-danger " data-dismiss="modal" aria-label="Close" value="Đóng">
                    </div>
                    {{~/each}}
                </form>
            </div>
        </div>
    </div>
</div>